<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Recipient - WOW Awards Portal</title>
</head>
<body>
    <h1>Add New Recipient Form</h1>
    <form action="" method="POST">
        <div>
            <label for="recipient_first_name">Recipient First Name</label><br>
            <input type="text" id="recipient_first_name" name="recipient_first_name">
        </div>
        <div>
            <label for="recipient_last_name">Recipient Last Name</label><br>
            <input type="text" id="recipient_last_name" name="recipient_last_name">
        </div>
        <div>
            <label for="recipient_award_category">Award Category</label><br>
            <input type="text" id="recipient_award_category" name="recipient_award_category">
        </div>
        <div>
            <label for="recipient_year">Year Awarded</label><br>
            <input type="text" id="recipient_year" name="recipient_year">
        </div>
        <div>
            <label for="recipient_profile">Recipient Profile Description</label><br>
            <textarea name="recipient_profile" id="recipient_profile" rows="4" cols="50"></textarea>
        </div>
        <div>
            <label for="recipient_photo">Recipient Photo</label><br>
            <input type="text" id="recipient_photo" name="recipient_photo">
        </div>
        <button>Create Recipient</button>
    </form>
</body>
</html>